
@media all and (max-width: 480px) {



}


@media all and (max-width: 768px) and (min-width: 481px){



}




@media all and (max-width: 992px) and (min-width: 769px) {

#wrapper {
	width: 80%
}

.wrongLetters2 {
	position: fixed;
	right: 15%;
	bottom: 5%;
}

.wrongLetters {
	position: fixed;
	right: 15%;
	bottom: 5%;
}

}